:root{
    --background-colour: #3f3f3f;
    --background-header-footer-colour: #272727;
    --field-background: #2e2e2e;
    --box-shadow: #d6d6d6;
    --text-colour: #fff;
}

body{
    display: grid;
    grid-template-rows: 3% 9% 1%;

    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-colour);
    color: var(--text-colour);
    margin: 0;
    padding: 0;
    height: 100vh;
}

h3 {
    margin: 0;
}

.Header, .InputRow{            
    display: flex;
    flex-direction: row;
    align-content: center;
}

.Header{
    justify-content: space-between;
    background-color: var(--background-header-footer-colour);
    
    box-shadow: 0px 2px 60px var(--box-shadow);
}

.InputRow{
    height: fit-content;
}

.Title{
    margin: 0;
    padding: 0;
}

#Container{
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    overflow-y: scroll;
}

.TestContainer{
    margin: 5px;
    padding: 5px;
    width: 80px;
    min-width: fit-content;
    text-align: center;

    box-shadow: 0px 0px 2px var(--box-shadow);
    background-color: var(--field-background);
}

.TestContainer:hover{
    cursor: pointer;
    transform: scale(1.1);
    filter: brightness(0.9);
}

.Footer{
    height: max-content;
    background-color: var(--background-header-footer-colour);
    box-shadow: 0px 2px 60px var(--box-shadow);
}