.StopWatchContainer{
    background-color: var(--background-container-colour);
    box-shadow: 0px 2px 10px var(--box-shadow-dark);
    margin: 0 1rem;
    width: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-color);
    color: var(--button-text-colour);
    border: none;
    height: 2rem;
    min-width: 5rem;
    padding: 3%;
    text-align: center;
}

.inputBtn:hover{
    transition: var(--hover-transition-time);
    transform: scale(1.1);
    cursor: pointer;
    background-color: var(--accent-color-hover);
}

.TestItemContainer{
    position: relative;
    background-color: var(--background-container-colour);
    box-shadow: 0px 2px 10px var(--box-shadow-dark);
    margin: 0;
    padding: 1%;
    margin-top: 2rem;
    width: 100%;
    height: 90%;
    max-height: 65vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border: var(--background-container-colour) 2% solid;
    align-items: flex-start;
    align-content: flex-start;
    overflow-y: auto;
}

.TestContainer{
    margin: 5px;
    padding: 5px;
    width: 80px;
    min-width: fit-content;
    text-align: center;
    
    box-shadow: 0px 2px 3px var(--box-shadow-dark);
    background-color: var(--field-background);
}

.TestContainer:hover{
    cursor: pointer;
    transform: scale(1.1);
    filter: brightness(0.9);
}