.grid-container{
    display: inline-grid;
    background-color: var(--background-container-colour);
    box-shadow: 0px 2px 10px var(--box-shadow-dark);
    width: 35vw;
    height: 35vw;
    margin: auto auto;
}

.resetBtn{
    height: 1.5rem;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.InteractionContainer.MiniGame {
    margin: auto;
}

.InteractionContainer.MiniGame .InputRow{
    width: 8vw;
}

.grid-item{
    text-align: center;
    align-content: center;
    position: relative;
}

.grid-item::before{
    content: '';
    display: inline-block;
    width: 50%;
    height: 50%;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 100%;
    background-color: var(--background-colour);
}

.grid-item::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    border-radius: 2%;
    z-index: 2;
}

.grid-item.snake-block::after{
    width: 85%;
    height: 85%;
    border-radius: 15%;
    background-color: var(--accent-color);
    box-shadow: 0px 0px 10px #00000033;
}

.grid-item.snake-head-block::after{
    animation: grow 0.3s forwards; 
    filter: brightness(1.5);
}

.grid-item.snake-tail-block::after{
    filter: brightness(0.7);
}

.grid-item.collision-block::after{
    background-color: red;
}

.grid-item.fruit-block::after{
    width: 70%;
    height: 70%;
    border-radius: 100%;
    background-color: rgb(255, 94, 0);
    box-shadow: 0px 0px 10px #00000033;
}

.animate-eat {
    animation: eat 0.2s forwards;
}

.SegmentsContainer{
    background-color: var(--background-container-colour);
    box-shadow: 0px 2px 10px var(--box-shadow-dark);
    width: 9rem;
    color: var(--text-colour);
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes shrink {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
}

@keyframes grow {
    from {
        transform: translate(-50%, -50%) scale(0.9);
    }
    to {
        transform: translate(-50%, -50%) scale(0.8);
    }
}

@keyframes eat {
    100%, 0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.15);
    }
}
