:root{
    --background-colour: #d4d4d4;
    --background-container-colour: #ffffff;
    --field-background: #e9e9e9;
    --box-shadow: #00000033;
    --box-shadow-dark: #808080;
    --accent-color: #4169e1;
    --accent-color-hover: #3555b4;
    --text-colour: #000;
    --button-text-colour: #fff;
    --alt-background-color: #b3b2b2;

    --default-transition-time: 1s;
    --hover-transition-time: 0.25s;
}

[data-theme="dark"]{
    --background-colour: #3f3f3f;
    --background-container-colour: #272727;
    --field-background: #2e2e2e;
    --box-shadow: #d6d6d6;
    --box-shadow-dark: #808080;
    --accent-color: #484fad;
    --accent-color-hover: #4f56bd;
    --alt-background-color: #2b2a2a;
    --text-colour: white;
}

*, *::before, *::after {
    transition: var(--default-transition-time);
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: var(--background-colour);
    color: var(--text-colour);
}

p{
    margin: 0;
}

.Body{
    display: grid;
    grid-template-rows: 4rem auto 4rem;
}

.Header, .InputRow{            
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.Header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-container-colour);
    height: 100%;
    box-shadow: 0px 2px 60px var(--box-shadow);
}

.Link-Container{
    display: flex;
    justify-content: space-evenly;
    width: auto;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    gap: 2%;
}

.Link-Container > a {
    display: inline-block;
    position: relative;
}

.Link-Container > a:not(.Title):not(:last-child)::after {
    content: "|";
    font-size: medium;
    margin-right: 0%;
    font-weight: normal;
    position: absolute;
    right: -10px;
    top: 40%;
    transform: translateY(-50%);
    font-size: 20px;
}

.Container{
    height: 93%;
    width: 92%;
    padding: 2% 4%;
    overflow-y: auto;

    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;
    overflow: hidden;
}

.Container::before{
    content: "";
    background-color: var(--alt-background-color);
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50vw;
    height: 40vh;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
    z-index: -1;
}

.Container::after{
    content: "";
    background-color: var(--alt-background-color);
    position: absolute;
    bottom: 0%;
    right: -5%;
    width: 70vw;
    height: 60vh;
    clip-path: polygon(100% 0, 100% 11%, 10% 100%, 0% 100%);
    z-index: -1;
}

.NavContainer{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.InteractionContainer{
    width: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 3rem;
}

.InputRow{
    background-color: var(--background-container-colour);
    box-shadow: 0px 2px 10px var(--box-shadow-dark);
    height: 100%;
    justify-content: space-around;
    width: 25rem;
}

.Title, .SecondaryPage{
    margin: 0;
    padding: 0;
    color: var(--text-colour);
    text-decoration: none;
}

.Title:hover, .SecondaryPage:hover{
    cursor: pointer;
}

.SecondaryPage:hover{
    text-decoration: underline;
}

.SecondaryPage{
    font-size: large;
    margin-left: 1%;
}

.Title{
    font-size: x-large;
    margin-left: 1%;
    font-weight: bold;
}

.Footer{
    background-color: var(--background-container-colour);
    color: var(--text-colour);
    height: 100%;
    padding: 0 4%;
    box-shadow: 0px 2px 60px var(--box-shadow);

    display: flex;
    align-items: center;
}

.DefaultNumberInput{
    border: none;
    border-bottom: var(--accent-color) 0.15rem solid;
    color: var(--text-colour);
    background-color: var(--background-colour);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    height: 1.75rem;
}

.StopWatchContainer{
    background-color: var(--background-container-colour);
    box-shadow: 0px 2px 10px var(--box-shadow-dark);
    margin: 0 1rem;
    width: 9rem;
    color: var(--text-colour);
    display: flex;
    justify-content: center;
    align-items: center;
}

.DefaultButton{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-color);
    color: var(--button-text-colour);
    border: none;
    height: 2rem;
    min-width: 5rem;
    padding: 3%;
    text-align: center;
}

.DefaultButton:hover{
    transition: 0.25s;
    transform: scale(1.1);
    cursor: pointer;
    background-color: var(--accent-color-hover);
}