.grid-container{
    display: inline-grid;
    background-color: var(--background-container-colour);
    box-shadow: 0px 2px 10px var(--box-shadow-dark);
    width: 30vw;
    height: 30vw;
}

.grid-item{
    text-align: center;
    align-content: center;
}

.grid-item::before{
    content: '';
    display: inline-block;
    width: 50%;
    height: 50%;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 100%;
    background-color: rgb(235, 234, 234);
    transition: 0.25s;
}

.grid-item.snake-block::before{
    content: '';
    display: inline-block;
    width: 85%;
    height: 85%;
    border-radius: 10px;
    background-color: var(--accent-color);
}

.grid-item.snake-head-block::before{
     opacity: 0.6;
}

.grid-item.snake-tail-block::before{
    filter: brightness(0.7);
}

.grid-item.collision-block::before{
    background-color: red;
}

.grid-item.fruit-block::before{
    content: '';
    display: inline-block;
    width: 70%;
    height: 70%;
    border-radius: 100%;
    background-color: orange;
}